<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Muestra de Inyección</title>
</head>
<body>
<div style="text-align: center">
    <div style="display: inline-block">
        <h5>Bienvenidos</h5>
        <p>La presente aplicación nos muestra como se puede dar una ataque SQL con datos al descubierto.</p>
        <a href="/consulta-insegura">
            <button>Consulta insegura</button>
        </a>
        <a href="/consulta-segura">
            <button>Consulta segura</button>
        </a>
    </div>
    <br>
    <div>
        <a href="/restaurar-base-de-datos"><button>Restaurar base de datos.</button></a>
    </div>
</div>
</body>
</html>